# Binary Output Directories
dist/
packages/
tmp*/

# Apple Native Build Clones & Temporary Workdirs
src/apple/dist/
src/apple/kaldi/
src/apple/vosk-api/
src/apple/openfst/
src/apple/build/

# Test Cache & Artifacts
tests/model/
tests/asr/
tests/spk/
tests/test_e2e_*
tests/*.zip
!tests/test.wav
tools/__pycache__

# OS / Editor Junk Files
.DS_Store
*.tmp
*.log
cache/*
!cache/.gitkeep