# Binary Output Directories
dist/
packages/
release_packages/
download_dist/
tmp*/

# Apple Native Build Clones & Temporary Workdirs
src/apple/dist/
src/apple/kaldi/
src/apple/vosk-api/
src/apple/openfst/
src/apple/build/

# OS / Editor Junk Files
.DS_Store
*.tmp
*.log